<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Melvin Mofus</title>

		<meta name="keywords" content="portfolio, personal, corporate, business, parallax, creative, agency">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link src="img/favicon.png"  type="image/png">

		<!-- bootstrap css -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,,800,900|Josefin+Sans:300,400,600,700" rel="stylesheet">

		<!-- owl carousel CSS -->
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owl.theme.default.min.css">

		<!-- magnific-popup CSS -->
		<link rel="stylesheet" href="css/magnific-popup.css">

		<!-- Font Icon Core CSS -->
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/et-line.css">
		<link rel="stylesheet" href="css/ionicons.min.css">

		<!-- Core Style Css -->
        <link rel="stylesheet" href="css/style.css">

        <!--[if lt IE 9]-->
		<script src="js/html5shiv.min.js"></script>
		<!--[endif]-->
    </head>
    <body>

    	<!-- ====== Preloader ======  -->
	    <div class="loading">
			<div class="load-circle">
			</div>
		</div>
		<!-- ======End Preloader ======  -->

		<!-- ====== button-top ======  -->
		<div class="button-top" data-scroll-nav="0">
			<span>
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</span>
		</div>
		<!-- ======End button-top ======  -->

		<!-- ====== Navgition ======  -->
		<nav class="navbar navbar-default">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-icon-collapse" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>

		      <!-- logo -->

		      <a href="#">
		      	<div class= "logo">
		      		<img src="img/websitelogolight.png" alt="logo">
		      	</div>
		      </a>

		    </div>

		    <!-- Collect the nav links, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="nav-icon-collapse">

			  <!-- links -->
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#" data-scroll-nav="0" class="active">Home</a></li>
		        <li><a href="#" data-scroll-nav="1">About</a></li>
		        <li><a href="#" data-scroll-nav="3">Updates</a></li>
		        <li><a href="#" data-scroll-nav="5">Portfolio</a></li>



		        <li><a href="#" data-scroll-nav="6">Blog</a></li>
		        <li><a href="#" data-scroll-nav="7">Contact</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container -->
		</nav>
		<!-- ====== End Navgition ======  -->

		<!-- ====== Header ======  -->
		<section id="home" class="header" data-scroll-index="0" data-stellar-background-ratio="0.8">
			<div class="container">
				<div class="row">
					<div class="v-middle">
						<div class="caption">
							<h4>Hello,</h4>
							<h1>I Am Tanisha Bassan</h1>
							<div class="type">
								<h3></h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ====== End Header ======  -->

		<!-- ====== Hero ======  -->
		<section id="about" class="hero section-padding" data-scroll-index="1">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="hero-img">
							<img src="assets/MyHeadshot.jpg" alt="hero">
						</div>
					</div>
					<div class="col-md-7">
						<div class="hero-content">
							<h4 class="head-left">More Info About Me</h4>


                     <br>
                     <p>

                     I am Tanisha, a 18 year old passionate about quantum computing and other exponential technologies that can help me impact billions of people and solve the worlds hardest problems. </p>

                     <br>
                     <p>

                     I'm an Innovator at The Knowledge Society, working to solve the world’s hardest problems using quantum computing. I've completed the world’s first quantum computing hackathon, programmed quantum computers with software from Google, Microsoft and IBM, and attended the first quantum computing course at the University of Toronto, researching quantum machine learning. I've interned with Microsoft and Interac, was the recipient of the
CES Young Innovator’s to Watch Award, was featured in the Globe and Mail for Women in STEM issue and often called upon to speak at international conferences, including in Las Vegas, Dubai and Spain. I'm now working on doing quantum machine learning research at Zapata Computing, a startup founded out of Harvard. </p>







							<div class="info">
								<div class="row">


									<div class="col-md-5 col-sm-7">
										<h5><span><i class="icon ion-location"></i></span>Toronto, Canada</h5>
									</div>
									<div class="col-md-5 col-sm-7">
										<h5><span><i class="icon ion-email"></i></span>tanishabassan@gmail.com</h5>
									</div>





									<a href="https://www.linkedin.com/in/tanisha-bassan-b4b254141/">
										<span class="butn butn-bg">Connect with me on LinkedIn</span>
									</a>
								</div>
							</div>

						</div>
					</div>
					<div class="row">

					</div>

				</div>
			</div>
		</section>
		<!-- ====== End Hero ======  -->

		<!--====== Updates ======-->
		<div class="numbers section-padding text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="item">
							<section id="services" class="services section-padding" data-scroll-index="3">
			<div class="container">


				<div class="section-head">
					<h3>Current Projects</h3>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="item text-center">

							<h6>Quantum Computing</h6>
							<p>I am currently doing quantum machine learning research at Zapata Computing. </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item text-center bord">

							<h6>Taking a Gap Year </h6>
							<p>After graduating high school I'm pursuing a gap year to explore my passions deeply and gain technical skills in software development. </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item text-center">

							<h6> Expanding my Network  </h6>
							<p> I want to focus on building meaningful relationships with interesting people all over the globe, please feel free to get in touch!  </p>
						</div>


					</div>

					<div class="clear-fix"></div>
									<div class="clear-fix"></div>
				</div>

					</div>
					<div class="clear-fix"></div>
				</div>
			</div>
		</section>
					</div>
				</div>
			</div>
		</div>
		<!--====== Updates ======-->

		<!--====== Portfolio ======-->
		<section id="works" class="portfolio section-padding" data-scroll-index="5">
			<div class="container">

				<div class="section-head">
					<h3>Portfolio</h3>
				</div>

				<div class="row">



					<!-- gallery -->
					<div class="gallery text-center">

						<!-- gallery item -->
						<div class="col-md-3 items Projects">
							<div class="item-img">

							<img src="img/IBMq.jpeg" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">Quantum QAOA Program </h6>
									<div class="icons">
										<span class="icon">
											<a href="https://github.com/tanishabassan/QAOA-Maxcut">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>


						<!-- gallery item -->
						<div class="col-md-3 items Projects">
							<div class="item-img">

							<img src="img/rigettihack.jpeg" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">Quantum Drug Simulation</h6>
									<div class="icons">
										<span class="icon">
											<a href="https://github.com/tanishabassan/Quantum-Drug-Simulation">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-3 items Projects">
							<div class="item-img">

							<img src="img/dice.jpeg" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">Quantum Dice</h6>
									<div class="icons">
										<span class="icon">
											<a href="https://github.com/tanishabassan/Quantum-Random-Number-Generator">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-3 items Media">
							<div class="item-img">

							<img src="img/topological qc.png" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">Topological Quantum Computers</h6>
									<div class="icons">
										<span class="icon">
											<a href="https://www.youtube.com/watch?v=RW44rIrAZHY">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-3 items Graphic Content">
							<div class="item-img">

							<img src="img/quantuminternet.jpg" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">Quantum Internet</h6>
									<div class="icons">
										<span class="icon">
											<a href="https://tks.life/profile/tanisha.bassan">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-3 items Graphic Content">
							<div class="item-img">

							<img src="img/neoblockchain.jpeg" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">NEO Blockchain</h6>
									<div class="icons">
										<span class="icon">
											<a href="https://tks.life/profile/tanisha.bassan">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

						<div class="col-md-3 items Graphic Content">
							<div class="item-img">

							<img src="img/quantum1.jpg" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">A Brief Intro to Quantum Computers</h6>
									<div class="icons">
										<span class="icon">
											<a href="https://medium.com/@Tanisha.Bassan/a-brief-introduction-to-quantum-computing-d21e578cb7ed">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

						<div class="col-md-3 items Graphic Content">
							<div class="item-img">

							<img src="img/quantum2.jpg" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">Decoherence: Quantum Computings Greatest Obstacle </h6>
									<div class="icons">
										<span class="icon">
											<a href="https://www.linkedin.com/pulse/decoherence-quantum-computers-greatest-obstacle-tanisha-bassan/">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>
						<!-- gallery item -->
						<div class="col-md-3 items Media">
							<div class="item-img">

							<img src="img/showcase.jpg" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">Using Quantum Computers to Solve the Hardest Problems</h6>
									<div class="icons">
										<span class="icon">
											<a href="https://www.youtube.com/watch?v=IvFZBDwg1u0">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

						<div class="col-md-3 items Graphic Content">
							<div class="item-img">

							<img src="img/quantumhealthcare.jpg" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">Quantum Computers Disrupting Healthcare</h6>
									<div class="icons">
										<span class="icon">
											<a href="https://medium.com/@Tanisha.Bassan/quantum-computers-disrupting-healthcare-e3dac9a891ef">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

<!-- gallery item -->
						<div class="col-md-3 items Media">
							<div class="item-img">

							<img src="img/globeandmail.jpg" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">Featured in The Global and Mail </h6>
									<div class="icons">
										<span class="icon">
											<a href="https://www.theglobeandmail.com/business/careers/management/article-signs-emerging-that-more-females-are-gravitating-to-stem-fields/">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-3 items Media">
							<div class="item-img">

							<img src="img/quantum.png" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">Quantum Battleships  </h6>
									<div class="icons">
										<span class="icon">
											<a href="https://hackernoon.com/an-interactive-tutorial-on-quantum-programming-327da388f859">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

<!-- gallery item -->
						<div class="col-md-3 items Media">
							<div class="item-img">

							<img src="img/tksummit.png" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">A panel on empowering girls into tech with Jodi Kovitz  </h6>
									<div class="icons">
										<span class="icon">
											<a href="https://www.youtube.com/watch?v=RwY8DvyBABI">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-3 items Media">
							<div class="item-img">

							<img src="img/HTwelve.png" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">Curing World Hunger with 3D Bioprinted Plants</h6>
									<div class="icons">
										<span class="icon">
											<a href="https://www.youtube.com/watch?v=NG4g6vAhN6c">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-3 items Media">
							<div class="item-img">

							<img src="img/quantumerror.png" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">Holographic Quantum Error-Correction </h6>
									<div class="icons">
										<span class="icon">
											<a href="https://hackernoon.com/holographic-quantum-error-correcting-codes-2043a5435b37">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-3 items Media">
							<div class="item-img">

							<img src="img/movethedial.jpeg" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl"> #movethedial Global Summit </h6>
									<div class="icons">
										<span class="icon">
											<a href="https://www.youtube.com/watch?v=UV9SBauEG7o">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

					</div>

						<!-- gallery item -->
						<div class="col-md-3 items Media">
							<div class="item-img">

							<img src="img/quantumprogram.png" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl"> Programming with Google Cirq </h6>
									<div class="icons">
										<span class="icon">
											<a href="https://hackernoon.com/quantum-programming-with-google-cirq-3209805279bc">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>


<!-- gallery item -->
						<div class="col-md-3 items Media">
							<div class="item-img">

							<img src="img/astrolabs.jpeg" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl"> Quantum Machine Learning Presentation at Astrolabs </h6>
									<div class="icons">
										<span class="icon">
											<a href="https://youtu.be/_H7kWXPLGRI">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>

						</div>
						<!-- gallery item -->
						<div class="col-md-3 items Media">
							<div class="item-img">

							<img src="img/UofT.jpeg" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl">Quantum Machine Learning at University of Toronto </h6>
									<div class="icons">
										<span class="icon">
											<a href="https://www.youtube.com/watch?v=VHbTlamJ-6A">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

					<!-- gallery item -->
						<div class="col-md-3 items Media">
							<div class="item-img">

							<img src="img/quant.png" alt="image">
							<div class="item-img-overlay">
								<div class="overlay-info v-middle text-center">
									<h6 class="sm-titl"> Quantum Support Vector Machine Kernel Algorithm </h6>
									<div class="icons">
										<span class="icon">
											<a href="https://hackernoon.com/quantum-machine-learning-d0037f59f31a">
												<span class="icon-attachment"></span>
											</a>
										</span>


									</div>
								</div>
							</div>
							</div>
						</div>

					</div>

				</div>

		</section>

		<!--====== End Portfolio ======-->



		<!--====== Blog ======-->
		<section id="blog" class="blog section-padding" data-scroll-index="6">
			<div class="container">

				<div class="section-head">
					<h3>Latest News</h3>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="item text-center">
							<div class="img-post">
								<a href="#">
									<img src="img/rigetti.jpg" alt="image">
								</a>
							</div>
							<div class="cont-post">
								<a href="https://medium.com/rigetti/my-experience-at-rigettis-quantum-hackathon-54f4c50cfc3?source=rss-8cc9c7d5570------2?ref=Welcome.AI">
									<span class="tag">Rigetti Computing</span>
								</a>
								<a href="https://medium.com/rigetti/my-experience-at-rigettis-quantum-hackathon-54f4c50cfc3?source=rss-8cc9c7d5570------2?ref=Welcome.AI">
									<h6>My Experience at the Worlds First Quantum Computing Hackathon.</h6>
								</a>
								<p>I was fortunate to have been invited to compete at Rigettis quantum computing hackathon in San Francisco.</p>
								<a href="https://medium.com/rigetti/my-experience-at-rigettis-quantum-hackathon-54f4c50cfc3?source=rss-8cc9c7d5570------2?ref=Welcome.AI">
									<span class="botn">Read More..</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="item text-center">
							<div class="img-post">
								<a href="#">
									<img src="img/CDL.jpg" alt="image">
								</a>
							</div>
							<div class="cont-post">
								<a href="https://www.linkedin.com/pulse/cdl-5-reasons-why-startups-fail-grow-tanisha-bassan/">
									<span class="tag">Creative Destruction Lab</span>
								</a>
								<a href="https://www.linkedin.com/pulse/cdl-5-reasons-why-startups-fail-grow-tanisha-bassan/">
									<h6>5 Reasons Why Startups Fail to Grow.</h6>
								</a>
								<p>I was able to shadow VCs at CDL and compiled my learnings into explain common problems every startup faces.</p>
								<a href="https://www.linkedin.com/pulse/cdl-5-reasons-why-startups-fail-grow-tanisha-bassan/">
									<span class="botn">Read More..</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="item text-center">
							<div class="img-post">
								<a href="#">
									<img src="img/michelle.jpg" alt="image">
								</a>
							</div>
							<div class="cont-post">
								<a href="https://www.linkedin.com/pulse/i-met-michelle-obama-what-learned-tanisha-bassan/">
									<span class="tag">Economic Club of Canada</span>
								</a>
								<a href="https://www.linkedin.com/pulse/i-met-michelle-obama-what-learned-tanisha-bassan/">
									<h6>I Met Michelle Obama and This is What I Learned</h6>
								</a>
								<p>I was hosted by CPA Canada to attend the Obama Luncheon where important matters on gender equality were discussed.</p>
								<a href="https://www.linkedin.com/pulse/i-met-michelle-obama-what-learned-tanisha-bassan/">
									<span class="botn">Read More..</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--====== End Blog ======-->

		<!--====== Contact ======-->
		<section id="contact" class="contact section-padding" data-scroll-index="7">
			<div class="container">
				<div class="row">
					<div class="col-md-7">

						<h4 class="head-left">Join My Monthly Newsletter!</h4>

						<form class="form" id="contact-form" method="post" action="contact.php">
	                        <div class="messages"></div>

	                        <div class="controls">

	                            <div class="row">
	                                <div class="col-md-6">
	                                    <div class="form-group">
	                                        <input id="form_name" type="text" name="name" placeholder="Name" required="required" data-error="Full name is required.">
	                                        <div class="help-block with-errors"></div>
	                                    </div>
	                                </div>

	                                 <div class="col-md-6">
	                                    <div class="form-group">
	                                        <input id="form_email" type="email" name="email" placeholder="Email" required="required" data-error="Valid email is required.">
	                                        <div class="help-block with-errors"></div>
	                                    </div>
	                                </div>
	                            </div>

	                            <div class="row">
	                                <div class="col-md-12">
	                                    <div class="form-group">
	                                        <textarea id="form_message" name="message" placeholder="Message" rows="4" required="required" data-error="Message."></textarea>
	                                        <div class="help-block with-errors"></div>
	                                    </div>
	                                </div>

	                                <div class="col-sm-12">
	                                    <input type="submit" value="Subscribe!">
	                                </div>
	                            </div>
	                        </div>
	                    </form>
					</div>

					<div class="col-md-offset-1 col-md-4">
						<div class="info">
							<div class="item">
								<span class="icon ion-android-call"></span>
								<h6>Phone :<br> <span> 416-371-5641</span></h6>
							</div>

							<div class="item">
								<span class="icon ion-ios-email"></span>
								<h6>Email :<br> <span>tanishabassan@gmail.com</span></h6>
							</div>
							<!-- social Icon -->
							<div class="social-icon">

								<a href="https://twitter.com/tanishabassan">
									<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
								</a>
								<a href="https://www.linkedin.com/in/tanisha-bassan-b4b254141/">
									<span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
								</a>


							</div>
						</div>
					</div>

					<div class="col-sm-12 text-center">
						<p class="copy">&copy; Tanisha Bassan</p>
					</div>
				</div>
			</div>
		</section>
		<!--====== End Contact ======-->







        <!-- jQuery -->
		<script src="js/jquery-3.0.0.min.js"></script>
		<script src="js/jquery-migrate-3.0.0.min.js"></script>

	  	<!-- bootstrap -->
		<script src="js/bootstrap.min.js"></script>

		<!-- scrollIt -->
		<script src="js/scrollIt.min.js"></script>

		<!-- magnific-popup -->
		<script src="js/jquery.magnific-popup.min.js"></script>

		<!-- owl carousel -->
		<script src="js/owl.carousel.min.js"></script>

		<!-- stellar js -->
		<script src="js/jquery.stellar.min.js"></script>

		<!-- typed js -->
      	<script src="js/typed.js"></script>

      	<!-- jquery.waypoints.min js -->
	  	<script src="js/jquery.waypoints.min.js"></script>

	  	<!-- jquery.counterup.min js -->
	  	<script src="js/jquery.counterup.min.js"></script>

      	<!-- isotope.pkgd.min js -->
      	<script src="js/isotope.pkgd.min.js"></script>

      	<!-- validator js -->
      	<script src="js/validator.js"></script>

      	<!-- custom script -->
        <script src="js/custom.js"></script>

    </body>
</html>
